body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header.login-header {
  text-align: center;
  margin: 0 auto;
  height: 50px;
  padding: 100px;
}

header.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  height: 50px;
  padding: 20px 0;
}

.form-section {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  border: 18px solid #E25656;
}
  .form-section h2 {
    font-size: 32px;
    font-weight: bold;
  }

  .button-comeback ~ h2 {
    margin-top: 10px;
  }

  .addition span {
    padding-left: 5px;
  }

  .form-button {
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    background-color: #56BDE2;
    padding: 20px 0;
    width: 80%;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
  .form-button:hover {
    background-color: #E25656;
    cursor: pointer;
  }

  .button-signup {
    width: 100%;
  }

  .form-link {
    display: inline-block;
    padding: 3px 0;
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid #E25656;
    text-decoration: none;
    color: black;
  }
    .form-link:hover {
      background-color: #E25656;
      color: white;
    }
  
  .form-section form input[type="text"], input[type="password"] {
    display: block;
    width: 94.5%;
    margin-top: 30px;
    padding: 15px 10px;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    font-size: 32px;
    font-weight: bold;
    outline: none;
  }
  .form-section form input[type="text"]::placeholder {
    color: #DFDFDF;
  }

  .form-section form input:focus {
    border-color: black;
  }

  .form-section form input[type="password"]::placeholder {
    color: #DFDFDF;
  }

footer {
  width: 70%;
  margin: 150px auto 0 auto;
  padding-top: 10px;
  color: #C5C5C5;
  border-top: 1px solid #DFDFDF;
  display: flex;
  justify-content: space-between;
}
  footer a {
    display: inline-block;
    text-decoration: none;
    color: #C5C5C5;
    margin-bottom: 10px;
  }
    footer a:hover {
      color: black;
    }


.button-comeback {
  color: #E25656;
  text-decoration: none;
  font-weight: bold;
}

.button-comeback:hover {
  color: #56BDE2;
}


.header-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
}
  .header-controls input {
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    width: 155px;
    padding-left: 35px;
    height: 32px;
    color: black;
    font-weight: bold;
  }
    .header-controls input::placeholder {
      font-size: 16px;
      color: #DFDFDF;
      font-weight: bold;
    }
    .header-controls input:focus {
      border: 1px solid black;
    }

.create-template-button {
  color: white;
  font-size: 16px;
  padding: 10px 35px;
  background-color: #56BDE2;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}
  .create-template-button:hover {
    background-color: #E25656;
  }

.logout-button {
  text-decoration: none;
  color: #E25656;
  font-weight: bold;
}
  .logout-button:hover {
    color: #56BDE2;
  }