body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header.login-header {
  text-align: center;
  margin: 0 auto;
  height: 50px;
  padding: 100px;
}

header.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  height: 50px;
  padding: 40px 0;
}

.form-section {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  border: 18px solid #E25656;
}
  .form-section h2 {
    font-size: 32px;
    font-weight: bold;
  }

  .button-comeback ~ h2 {
    margin-top: 10px;
  }

  .addition span {
    padding-left: 5px;
  }

  .form-button {
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    background-color: #56BDE2;
    padding: 20px 0;
    width: 80%;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
  .form-button:hover {
    background-color: #E25656;
    cursor: pointer;
  }

  .button-signup {
    width: 100%;
  }

  .form-link {
    display: inline-block;
    padding: 3px 0;
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid #E25656;
    text-decoration: none;
    color: black;
  }
    .form-link:hover {
      background-color: #E25656;
      color: white;
    }
  
  .form-section form input[type="text"], input[type="password"] {
    display: block;
    width: 94.5%;
    margin-top: 30px;
    padding: 15px 10px;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    font-size: 32px;
    font-weight: bold;
    outline: none;
  }
  .form-section form input[type="text"]::placeholder {
    color: #DFDFDF;
  }

  .form-section form input:focus {
    border-color: black;
  }

  .form-section form input[type="password"]::placeholder {
    color: #DFDFDF;
  }

footer {
  width: 70%;
  margin: 50px auto;
  padding-top: 10px;
  color: #C5C5C5;
  border-top: 1px solid #DFDFDF;
  display: flex;
  justify-content: space-between;
}
  footer a {
    display: inline-block;
    text-decoration: none;
    color: #C5C5C5;
    margin-bottom: 10px;
  }
    footer a:hover {
      color: black;
    }


.button-comeback {
  color: #E25656;
  text-decoration: none;
  font-weight: bold;
}

.button-comeback:hover {
  color: #56BDE2;
}

.create-header .header-controls{
  width: 55px;
}
.header-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
}
  .header-controls input {
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    width: 155px;
    padding-left: 35px;
    height: 32px;
    color: black;
    font-weight: bold;
  }
    .header-controls input::placeholder {
      font-size: 16px;
      color: #DFDFDF;
      font-weight: bold;
    }
    .header-controls input:focus {
      border: 1px solid black;
    }

.create-template-button {
  color: white;
  font-size: 16px;
  padding: 10px 35px;
  background-color: #56BDE2;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}
  .create-template-button:hover {
    background-color: #E25656;
  }

.logout-button {
  text-decoration: none;
  color: #E25656;
  font-weight: bold;
}
  .logout-button:hover {
    color: #56BDE2;
  }

.dashboard-list-empty {
  width: 70%;
  height: 70vh;
  margin-top: -40px;
  background-image: url(../assets/dashboard-instruction.svg);
  background-repeat: no-repeat;
  background-position: right top;
}

.dashboard-list-container {
  margin-top: 30px;
}

.dashboard-list {
  margin: 60px auto;
  width: 70%;
}

.dashboard-list h1 {
  font-size: 32px;
  font-weight: bold;
}

.template-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  padding: 30px 50px;
  margin-top: 30px;
  outline: none;
}
  .template-item img {
    border: 1px solid #ccc;
  }
  .template-item:hover {
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
  }
  .template-item:first-child {
    margin-top: 0;
  }

.template-list-info {
  width: 60%;
}
  .template-list-info h2 {
    font-size: 24px;
    font-weight: bold;
  }
  .template-list-info p {
    margin-top: 15px;
    line-height: 25px;
    font-size: 18px;
    color: #757575;
  }

.template-list-buttons {
  width: 210px;
}

.template-list-button {
  display: inline-block;
  padding: 13px 15px;
  padding-left: 40px;
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
  .template-list-button:hover {
    background-color: #56BDE2;
    border: 1px solid #56BDE2;
    color: white;
  }
  .template-list-button:first-child {
    margin-top: 0;
  }

.template-sub-info {
  display: flex;
  margin-top: 30px;
}
  .sub-info-time {
    margin-left: 50px;
  }
  .sub-info-time p {
    text-align: center;
  }

  .template-sub-info div h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

.create-template {
  margin: 0 auto;
  width: 70%;
}
  .create-template input {
    width: 96%;
    padding: 25px;
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    outline: none;
  }
    .create-template input::placeholder {
      font-size: 28px;
      color: #DFDFDF;
      font-weight: bold;
    }
    .create-template input:focus {
      border-color: black;
    }